# Deny from 192.168.1.1

Options -Indexes
Options +FollowSymLinks

DirectoryIndex index.php

<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /xnova/

	RewriteCond %{REQUEST_FILENAME} !index.php
	RewriteRule (.*)\.php$ index.php/$1

	RewriteCond %{REQUEST_URI} ^engine.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	RewriteCond %{REQUEST_URI} ^xnova.*
	RewriteRule ^(.*)$ /index.php?/$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
	ErrorDocument 404 /index.php
</IfModule>