Options -indexes

<IfModule authz_core_module>

	<Files "config.php">
		Require all denied
	</Files>

	<Files "global.php">
		Require all denied
	</Files>

</IfModule>
<IfModule !authz_core_module>

	<Files "config.php">
		Deny from All
	</Files>

	<Files "global.php">
		Deny from All
	</Files>

</IfModule>