@charset "UTF-8";
.page{text-align:center;margin-top:2em;}.page h2{color:#FFFFFF;text-align:center;}
body{font-family:Tahoma,sans-serif;font-style:normal;line-height:normal;}
a{text-decoration:none;color:#ffffff;font-weight:bold;}
h3{text-align:center;}
form{margin:0px;}
#debug{clear:both;}
ul{margin:0px;padding:0px;}
header{width:100%;}header h1{text-align:center;color:#FFFFFF;font-weight:bolder;font-variant:small-caps;font-size:1.5em;margin:0px auto;}
header nav li{display:inline-block;padding:0px 3px;margin:0px 1px;border:1px solid #FFFFFF;background-color:rgba(4, 14, 30, 0.8);border-radius:0.35em;}header nav li:hover{background-color:#66CCFF;}
header nav li a{font-size:0.8em;position:relative;top:-1px;}header nav li a:hover{color:#000000;}
header nav li:last-of-type{border-color:#ff0000;}header nav li:last-of-type:hover{background-color:#ff0000;color:#FFFFFF;}
header nav li:last-of-type a{color:#ff0000;}header nav li:last-of-type a:hover{color:#FFFFFF;}
header h3{width:100%;padding:5px;border:1px solid;}
nav.select{margin:3px;text-align:center;}nav.select select option{background-color:#0d2d62;color:#FFFFFF;}
nav.select select optgroup{background-color:#040e1e;font-weight:bold;color:#FFFFFF;}
nav.left{width:180px;clear:both;float:left;}nav.left h3{cursor:default;color:#0099FF;margin:5px 0px;font-size:1em;}
nav.left li{display:block;text-align:center;font-family:Arial,Helvetica,sans-serif;font-size:0.7em;margin:3px 15px;padding:2px;border:1px transparent solid;}nav.left li:hover{border-color:#415680;background-color:#0F1F3C;}
nav.left li a{color:#FFFFFF;}nav.left li a:hover{color:#66CCFF;}
nav.auth_selector{font-size:1.2em;}nav.auth_selector a{margin:0px 2px;}
nav.a_to_z a{font-size:1.2em;margin:0px 2px;}
section.content{padding:10px;}
.content span{display:block;margin:2px 0px;}
.top{border-radius:0.75em;}
div.content{text-align:center;color:#E6EBFB;padding:5px;border:1px solid #415680;margin:1px;}div.content a{color:#E6EBFB;}div.content a:hover{color:#66CCFF;}
.content-table{background-color:#344566;font-size:0.7em;padding:1px;margin:20px 0px;border-radius:1em;width:100%;}.content-table h3{font-size:1.2em;background:repeat-x url('./../img/table-title.png');border-radius:0px;border:1px solid #415680;color:#E6EBFB;padding:2px 0px;margin:0px;}
.content-table h3:first-of-type{border-radius:0.75em 0.75em 0px 0px;}
.content-table .leader{color:red;font-weight:bolder;font-size:1.5em;}
.content-table .content:last-of-type:not([class*="errors"]){border-radius:0px 0px 0.75em 0.75em;}
.content-table.table{display:table;margin:20px auto;}.content-table.table.medium .row div.content{min-width:15em;}
.content-table .row{display:table-row;}.content-table .row div.content{display:table-cell;padding:0.3em 1em;vertical-align:middle;clear:both;}.content-table .row div.content.reset-universe{font-size:1.2em;font-weight:bold;color:#cc0000;background:repeat-x url('./../img/table-title.png');}
.content-table .row div.content:last-of-type{border-radius:0px;}
.content-table .row:first-of-type div.content:first-of-type{border-radius:0.75em 0px 0px;}
.content-table .row:first-of-type div.content:last-of-type{border-radius:0px 0.75em 0px 0px;}
.content-table .row:last-of-type div.content:first-of-type{border-radius:0px 0px 0px 0.75em;}
.content-table .row:last-of-type div.content:last-of-type{border-radius:0px 0px 0.75em;}
.content-table .row.title{font-size:1.2em;background:repeat-x url('./../img/table-title.png');border:1px solid #415680;color:#E6EBFB;padding:2px 0px;margin:0px;}
.content-table .content textarea{width:90%;background-color:#091D39;height:25em;resize:vertical;color:#FFFFFF;}
.content-table .content select[size]{width:80%;}
.content-table .content.note{font-size:1.5em;font-weight:bold;color:#FFCC00;}
.content-table .content.info{position:relative;}
.content-table .content.menu nav li{display:inline-block;width:45%;margin:0px;font-size:1.3em;}.content-table .content.menu nav li figure{vertical-align:middle;}
.errors{font-size:0.7em;margin-bottom:20px;border-radius:1em;}.errors span{margin:5px 0px;}
.some_errors{border:2px solid #ff0000;color:#ff4d4d;background-color:rgba(204, 0, 0, 0.75);}
.no_errors{border:2px solid #bfff00;color:#d2ff4d;background-color:rgba(153, 204, 0, 0.75);}
section.debug{width:100%;margin:auto;display:table;color:#E6EBFB;text-align:center;}section.debug div.query{display:table-row;}section.debug div.query section{display:table-cell;border:1px solid #415680;vertical-align:middle;padding:0.3em;}
section.debug div.query:last-of-type section:first-of-type{border-radius:0px 0px 0px 0.75em;}
section.debug div.query:last-of-type section:last-of-type{border-radius:0px 0px 0.75em 0px;}
.content-table.table.thin{width:auto;}
.content-table.table.divided .row div.content{width:100%;}
figure{margin:0.5em;display:inline-block;}
.true{width:16px;height:16px;background:0 0 url('./../img/spirites.png');}
.false{width:16px;height:16px;background:0 -16px url('./../img/spirites.png');}
.arrow{width:11px;height:7px;background:-50px -37px url('./../img/spirites.png');}
.arrowright{width:20px;height:14px;background:0 -32px url('./../img/spirites.png');}
.r2{width:15px;height:15px;background:-16px -15px url('./../img/spirites.png');}
.r3{width:15px;height:16px;background:-73px -32px url('./../img/spirites.png');}
.r4{width:15px;height:14px;background:-88px 0 url('./../img/spirites.png');}
.r5{width:15px;height:16px;background:-73px 0 url('./../img/spirites.png');}
.r6{width:16px;height:15px;background:-89px -14px url('./../img/spirites.png');}
.i{width:16px;height:16px;background:-73px -16px url('./../img/spirites.png');}
figure.info+section{display:none;}
figure.info:hover+section{display:block;position:absolute;border:2px solid #415680;background-color:#344566;padding:5px;top:0.2em;right:5em;width:20em;font-weight:bold;}
@media screen and (min-width:800px){body{background:right top no-repeat fixed url('./../img/background.jpg') #040e1e;} .content-table.table.thin.divided.settings .row div.content:first-of-type{min-width:15em;} .content-table .content textarea.medium{width:25em;height:4em;}}@media (min-width:321px) and (max-width:799px){body{background:right top no-repeat fixed url('./../img/s_background.jpg') #040e1e;}}@media screen and (max-width:320px){body{background-color:#040e1e;}}@media (max-width:600px){#debug{display:none;}}@media (max-width:675px){.logo{display:none;} header nav{text-align:center;} .content-table.table.thin.divided{width:100%;} .content-table.menu{width:100%;}}@media (min-width:675px){header nav{float:right;} .content-table.table.thin.divided{width:50%;} .content-table.menu{width:50%;margin:auto;}}@media (max-width:500px){header nav li:not(:first-of-type):not(:last-of-type){display:none;} nav.left{display:none;} .page{clear:both;margin-left:0px;}.page h2{margin:0px;}}@media (min-width:501px){header h3{display:none;} nav.select{display:none;} .page{clear:right;margin-left:180px;} .logo{float:left;margin:0px 40px;}}
